<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Online platform for buying office equipments">
  <meta name="keywords" content="offiq, offiq.shop, offiqshop,priters,officeequpments">
  <meta name="author" content="Ashwin K V">
  <link href="/dist/output.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200&family=Poppins:wght@100;400;700;800;900&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/site.webmanifest">
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-thin-straight/css/uicons-thin-straight.css'>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
  <title>OFFIQ</title>
</head>

<body class="font-[Montserrat]  text-gray-900 w-screen overflow-x-hidden" style="-ms-overflow-style: none;scrollbar-width: none;">
  <!-- header -->
  <header id="header" class="fixed top-0 z-40 h-20 md:h-28  bg-black text-white  w-full shadow-md">
    <div class="container mx-auto">
      <!-- nav bar -->
      <nav class="flex  h-20 md:h-28  justify-between  items-center md:items-start py-3 md:py-2">

        <!-- logo -->
        <div class="order-5 md:order-first ">
          <a href="/" class="flex items-center">
            <img src="/images/offiq logo.png" alt="Logo" class=" md:translate-x-0  w-28 h-18 ">
          </a>
        </div>


        <div class="md:hidden order-first">
          <button id="toggle-menu" class="px-4 pt-5">
            <i class="fa fa-bars text-2xl"></i>
          </button>
        </div>

        <div class="hidden md:flex space-x-4 pt-10 items-center">
          <a href="/allproducts" class="hover:text-blue-500">All Products</a>
          <a href="/" class="hover:text-blue-500">Home</a>
          <a href="/wishlist" class="hover:text-blue-500">Wishlist</a>
          <a href="/contact" class="hover:text-blue-500">Contact Us</a>
        </div>

        <div class="flex items-center md:pt-10 pr-2 order-10 ">
          <a href="/cart" class="mr-4">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_259_1654)">
                <path d="M24 3H4.242L4.2 2.649C4.11405 1.91942 3.76338 1.24673 3.21449 0.758478C2.6656 0.270223 1.95663 0.000341793 1.222 0L0 0V2H1.222C1.46693 2.00003 1.70334 2.08996 1.88637 2.25272C2.06941 2.41547 2.18634 2.63975 2.215 2.883L3.8 16.351C3.88595 17.0806 4.23662 17.7533 4.78551 18.2415C5.3344 18.7298 6.04337 18.9997 6.778 19H20V17H6.778C6.53291 16.9999 6.29638 16.9099 6.11333 16.7469C5.93027 16.5839 5.81343 16.3594 5.785 16.116L5.654 15H21.836L24 3ZM20.164 13H5.419L4.478 5H21.607L20.164 13Z" fill="white" />
                <path d="M7 24.0006C8.10456 24.0006 8.99999 23.1052 8.99999 22.0006C8.99999 20.896 8.10456 20.0006 7 20.0006C5.89543 20.0006 5 20.896 5 22.0006C5 23.1052 5.89543 24.0006 7 24.0006Z" fill="white" />
                <path d="M17 24.0006C18.1046 24.0006 19 23.1052 19 22.0006C19 20.896 18.1046 20.0006 17 20.0006C15.8954 20.0006 15 20.896 15 22.0006C15 23.1052 15.8954 24.0006 17 24.0006Z" fill="white" />
              </g>
              <defs>
                <clipPath id="clip0_259_1654">
                  <rect width="24" height="24" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </a>
          <a href="/myAccount">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_259_3183)">
                <path d="M23 16.0003C22.7348 16.0003 22.4804 16.1057 22.2929 16.2932C22.1053 16.4807 22 16.7351 22 17.0003V19.0003C22 19.7959 21.6839 20.559 21.1213 21.1216C20.5587 21.6842 19.7956 22.0003 19 22.0003H17C16.7348 22.0003 16.4804 22.1056 16.2929 22.2932C16.1054 22.4807 16 22.7351 16 23.0003C16 23.2655 16.1054 23.5199 16.2929 23.7074C16.4804 23.8949 16.7348 24.0003 17 24.0003H19C20.3256 23.9987 21.5964 23.4714 22.5338 22.5341C23.4711 21.5967 23.9984 20.3259 24 19.0003V17.0003C24 16.7351 23.8946 16.4807 23.7071 16.2932C23.5196 16.1057 23.2652 16.0003 23 16.0003Z" fill="white" />
                <path d="M1 8C1.26522 8 1.51957 7.89464 1.70711 7.70711C1.89464 7.51957 2 7.26522 2 7V5C2 4.20435 2.31607 3.44129 2.87868 2.87868C3.44129 2.31607 4.20435 2 5 2H7C7.26522 2 7.51957 1.89464 7.70711 1.70711C7.89464 1.51957 8 1.26522 8 1C8 0.734784 7.89464 0.48043 7.70711 0.292893C7.51957 0.105357 7.26522 0 7 0L5 0C3.67441 0.00158786 2.40356 0.528882 1.46622 1.46622C0.528882 2.40356 0.00158786 3.67441 0 5L0 7C0 7.26522 0.105357 7.51957 0.292893 7.70711C0.48043 7.89464 0.734784 8 1 8Z" fill="white" />
                <path d="M7 22.0003H5C4.20435 22.0003 3.44129 21.6842 2.87868 21.1216C2.31607 20.559 2 19.7959 2 19.0003V17.0003C2 16.7351 1.89464 16.4807 1.70711 16.2932C1.51957 16.1057 1.26522 16.0003 1 16.0003C0.734784 16.0003 0.48043 16.1057 0.292893 16.2932C0.105357 16.4807 0 16.7351 0 17.0003L0 19.0003C0.00158786 20.3259 0.528882 21.5967 1.46622 22.5341C2.40356 23.4714 3.67441 23.9987 5 24.0003H7C7.26522 24.0003 7.51957 23.8949 7.70711 23.7074C7.89464 23.5199 8 23.2655 8 23.0003C8 22.7351 7.89464 22.4807 7.70711 22.2932C7.51957 22.1056 7.26522 22.0003 7 22.0003Z" fill="white" />
                <path d="M19 0H17C16.7348 0 16.4804 0.105357 16.2929 0.292893C16.1054 0.48043 16 0.734784 16 1C16 1.26522 16.1054 1.51957 16.2929 1.70711C16.4804 1.89464 16.7348 2 17 2H19C19.7956 2 20.5587 2.31607 21.1213 2.87868C21.6839 3.44129 22 4.20435 22 5V7C22 7.26522 22.1053 7.51957 22.2929 7.70711C22.4804 7.89464 22.7348 8 23 8C23.2652 8 23.5196 7.89464 23.7071 7.70711C23.8946 7.51957 24 7.26522 24 7V5C23.9984 3.67441 23.4711 2.40356 22.5338 1.46622C21.5964 0.528882 20.3256 0.00158786 19 0V0Z" fill="white" />
                <path d="M12 10.9999C12.7911 10.9999 13.5645 10.7653 14.2223 10.3258C14.8801 9.88629 15.3928 9.26158 15.6955 8.53067C15.9983 7.79977 16.0775 6.9955 15.9231 6.21958C15.7688 5.44366 15.3878 4.73092 14.8284 4.17151C14.269 3.6121 13.5563 3.23114 12.7804 3.0768C12.0044 2.92246 11.2002 3.00167 10.4693 3.30442C9.73836 3.60717 9.11365 4.11986 8.67412 4.77766C8.2346 5.43546 8 6.20882 8 6.99994C8 8.06081 8.42143 9.07822 9.17157 9.82837C9.92172 10.5785 10.9391 10.9999 12 10.9999ZM12 4.99994C12.3956 4.99994 12.7822 5.11724 13.1111 5.337C13.44 5.55676 13.6964 5.86912 13.8478 6.23457C13.9991 6.60003 14.0387 7.00216 13.9616 7.39012C13.8844 7.77808 13.6939 8.13445 13.4142 8.41415C13.1345 8.69386 12.7781 8.88434 12.3902 8.96151C12.0022 9.03868 11.6001 8.99908 11.2346 8.8477C10.8692 8.69632 10.5568 8.43998 10.3371 8.11108C10.1173 7.78218 10 7.3955 10 6.99994C10 6.46951 10.2107 5.9608 10.5858 5.58573C10.9609 5.21065 11.4696 4.99994 12 4.99994Z" fill="white" />
                <path d="M18 20.0003C18.2652 20.0003 18.5196 19.8949 18.7071 19.7074C18.8946 19.5199 19 19.2655 19 19.0003C18.9984 17.4095 18.3658 15.8843 17.2409 14.7594C16.116 13.6345 14.5908 13.0019 13 13.0003H11C9.40919 13.0019 7.88399 13.6345 6.75911 14.7594C5.63424 15.8843 5.00159 17.4095 5 19.0003C5 19.2655 5.10536 19.5199 5.29289 19.7074C5.48043 19.8949 5.73478 20.0003 6 20.0003C6.26522 20.0003 6.51957 19.8949 6.70711 19.7074C6.89464 19.5199 7 19.2655 7 19.0003C7 17.9394 7.42143 16.922 8.17157 16.1719C8.92172 15.4217 9.93913 15.0003 11 15.0003H13C14.0609 15.0003 15.0783 15.4217 15.8284 16.1719C16.5786 16.922 17 17.9394 17 19.0003C17 19.2655 17.1054 19.5199 17.2929 19.7074C17.4804 19.8949 17.7348 20.0003 18 20.0003Z" fill="white" />
              </g>
              <defs>
                <clipPath id="clip0_259_3183">
                  <rect width="24" height="24" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </a>
        </div>
      </nav>
      <div id="mobile-menu" class="hidden bg-black text-white">
        <ul class="text-gray-600 ">
          <a href="/allproducts" class="block hover:text-blue-500">All Products</a>
          <a href="/" class="block hover:text-blue-500">Home</a>
          <a href="/wishlist" class="block hover:text-blue-500">Wishlist</a>
          <a href="/contact" class="block hover:text-blue-500">Contact Us</a>
        </ul>
      </div>
    </div>
  </header>
  <main class=" overflow-x-hidden bg-black text-gray-100 ">
    <div class=" min-h-screen flex text-gray-300 flex-col justify-center items-center content-center">
      <div class="backdrop-blur-sm ">
        <div class="flex  justify-center my-5 ">
          <!-- search -->


          <div class="w-full max-w-sm flex items-center ">


            <form action="" class="relative mx-auto w-max">
              <div class="relative flex items-center rounded-full border ">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-12 border-r border-transparent stroke-gray-500 px-3.5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>

                <input type="search" id="searchInput" class="rounded-r-full pl-12 pr-4 peer border-transparent relative z-10 h-12  bg-transparent outline-none placeholder-gray-600 w-full cursor-text border-gray-30 transition-all duration-100" placeholder="I am looking for" />
              </div>

            </form>
          </div>
        </div>
        <div>
          <ul class="w-full  flex  justify-center gap-10 flex-wrap" id="searchSuggetion">

          </ul>
        </div>

        <div class="flex-col items-center justify-center drop-shadow-md  text-center w-screen mb-5">
          <h2 class="font-black text-6xl  md:text-[100px] pb-3"> Welcome to OFFIQ</h1>
            <h2 class="font-light  md:text-[30px]  ">Your Office Equipment and Services Destination!</h2>
            <div class="w-full flex justify-center">
              <p class="text-center w-4/6 font-medium ">At OFFIQ, we're dedicated to making your office life easier,
                more
                efficient,
                and more productive. Whether you're looking for top-notch office equipment or need reliable service
                solutions, you've come to the right place.</p>
            </div>

        </div>
      </div>
      <a href="/allProducts">
        <p class="text-center font-thin text-2xl hover:text-blue-500 text-white">Explore All Products -></p>
      </a>
    </div>
    <div class="text-center">
      <div>
        <h2 class="font-thin text-6xl pb-5"> Top Offers</h2>
      </div>

      <!-- carousel -->
      <div id="default-carousel" class="relative w-full" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
          <% banner.forEach(offer => {%>
          <!-- images -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="<%= offer.imageUrl[0] %>" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
          </div>
          <% }); %>

        </div>
        <!-- Slider indicators -->
        <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
          <% banner.forEach((offer,i) => {%>
          <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="<%=i%>"></button>
          <% }); %>
        </div>
        <!-- Slider controls -->
        <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
          <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
            </svg>
            <span class="sr-only">Previous</span>
          </span>
        </button>
        <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
          <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
            </svg>
            <span class="sr-only">Next</span>
          </span>
        </button>
      </div>

    </div>

    <div class="text-center mt-10 pt-10">
      <h2 class="font-thin text-6xl pb-5 mb-6">Shop Based On Category</h2>
    </div>

    <div class="flex flex-wrap gap-10 justify-center pb-10">
      <% category.forEach(category=> { %>  
    <% let image=category.image[0].replace(/\\/g,'/') %> %>
    <a class="md:w-1/4" href="/products/<%= category._id %>">
      <div class="group relative m-0 flex h-64 w-full rounded-xl shadow-xl ring-gray-900/5 sm:mx-auto sm:max-w-lg">
        <div class="z-10 h-full w-full overflow-hidden rounded-xl border border-gray-200 opacity-80 transition duration-300 ease-in-out group-hover:scale-105 dark:border-gray-700 dark:opacity-50">
          <img src="<%= image %>" alt="CATEGORY IMAGE" />
        </div>
        <div class="absolute w-full overflow-hidden bottom-0 z-20 m-0 pb-4 ps-4 transition duration-300 ease-in-out md:group-hover:-translate-y-1 md:group-hover:translate-x-3 md:group-hover:scale-110">
          <h1 class=" md:text-2xl font-black text-white shadow-2xl"><%= category.name %></h1>
          <h1 class="md:text-sm font-light w-3/4 text-gray-200 shadow-xl"><%= category.description %></h1>
        </div>
      </div>
    </a>
    
    <% }); %>
    
  </div>
    
    
  </main>
  <!-- search -->
  <script>
    const view = document.getElementById('searchSuggetion');
    const input = document.querySelector('#searchInput');
    input.addEventListener('input', debounce(handleSearch, 300)); //debounce function to reduce api request
    function debounce(func, delay) {
      let timeoutId;
      return function() {
        const context = this;
        const args = arguments;
        clearTimeout(timeoutId);
        timeoutId = setTimeout(() => {
          func.apply(context, args);
        }, delay);
      };
    }

    async function handleSearch() {
      const search = input.value;
      if (search.trim() == '') {
        view.innerHTML = ''
        return
      }
      try {
        const response = await fetch('/homeSearch', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            search
          }), // Send user's input as JSON in the request body
        });

        if (response.ok) {
          const data = await response.json();
          const subcategories = data.subcategories; // Assuming your server returns the subcategories

          // Update the view div with the search results
          view.innerHTML = '';

          subcategories.forEach((subcategory) => {
            const subcategoryElement = document.createElement('li');
            const linkElement = document.createElement('a');
            linkElement.href = `category/${subcategory._id}`
            linkElement.appendChild(subcategoryElement)
            subcategoryElement.textContent = subcategory.subName;
            view.appendChild(linkElement);
          });
        } else {
          console.error('Error:', response.statusText);
        }
      } catch (error) {
        console.error('Error:', error);
      }
    }
  </script>

  </script>

  <script>
    const toggleButton = document.getElementById('toggle-menu');
    const mobileMenu = document.getElementById('mobile-menu');

    toggleButton.addEventListener('click', () => {
      mobileMenu.classList.toggle('hidden');
    });
  </script>
  <script src="https://kit.fontawesome.com/2129bb9b13.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</body>

</html>