<%- include('header') %>
<main class=" min-h-screen overflow-x-hidden">
  <div class=" bg-top bg-fixed h-screen bg-cover flex text-gray-700 flex-col justify-center items-center content-center">
    <div class="backdrop-blur-sm  ">
      <div class="flex  justify-center my-5 ">
        <!-- search -->


        <div class="w-full max-w-sm flex items-center ">


          <form action="" class="relative mx-auto w-max">
            <input type="search" id="searchInput" class="peer relative z-10 h-12 rounded-full border bg-transparent outline-none  placeholder-gray-600 w-full cursor-text border-gray-30 pl-16 pr-4 transition-all duration-100" placeholder="I am looking for" />

            <svg xmlns="http://www.w3.org/2000/svg" class="absolute inset-y-0 my-auto h-8 w-12 border-r border-transparent stroke-gray-500 px-3.5 peer-focus:border-gray-300 peer-focus:stroke-gray-500 " fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
          </form>
        </div>
      </div>
      <div>
        <ul class="w-full  flex  justify-center gap-10 flex-wrap" id="searchSuggetion">

        </ul>
      </div>

      <div class="flex-col items-center justify-center drop-shadow-md  text-center w-screen mb-5">
        <h2 class="font-black  text-[100px] text-black "> "Welcome to OFFIQ“</h1>
          <h2 class="font-light  text-[30px]  ">Your Office Equipment and Services Destination!</h2>
          <div class="w-full flex justify-center">
            <p class="text-center w-4/6 font-medium ">At OFFIQ, we're dedicated to making your office life easier,
              more
              efficient,
              and more productive. Whether you're looking for top-notch office equipment or need reliable service
              solutions, you've come to the right place.</p>
          </div>

      </div>
    </div>
    <a href="/allProducts?pageNo=1">
      <p class="text-center text-blue-700">All Products -></p>
    </a>
  </div>
  <div class="flex-wrap flex justify-center gap-3 bg-fixed bg-cover" style="background-image: url(/images/bg5.jpg);">
    <% category.forEach(category=> { %>

    <% let image=category.image[0].replace(/\\/g,'/') %> %>
    <div class="flex justify-center h-80 w-1/2 md:w-2/5 my-3 bg-cover rounded-3xl bg-right items-center " style="background-image: url('<%=image %>');">
      <a href="/products/<%=category._id%>">
        <h1 class="font-black text-center  text-[50px] text-white drop-shadow-sm">
          <%=category.name%>
        </h1>
      </a>

    </div>

    <% }); %>
  </div>
</main>
<%- include('footer')%>
<!-- search -->
<script>
  const view = document.getElementById('searchSuggetion');
  const input = document.querySelector('#searchInput');
  input.addEventListener('input', debounce(handleSearch, 300)); //debounce function to reduce api request
  function debounce(func, delay) {
    let timeoutId;
    return function() {
      const context = this;
      const args = arguments;
      clearTimeout(timeoutId);
      timeoutId = setTimeout(() => {
        func.apply(context, args);
      }, delay);
    };
  }

  async function handleSearch() {
    const search = input.value;
    if (search.trim() == '') {
      view.innerHTML = ''
      return
    }
    try {
      const response = await fetch('/homeSearch', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          search
        }), // Send user's input as JSON in the request body
      });

      if (response.ok) {
        const data = await response.json();
        const subcategories = data.subcategories; // Assuming your server returns the subcategories

        // Update the view div with the search results
        view.innerHTML = '';

        subcategories.forEach((subcategory) => {
          const subcategoryElement = document.createElement('li');
          const linkElement = document.createElement('a');
          linkElement.href = `category/${subcategory._id}`
          linkElement.appendChild(subcategoryElement)
          subcategoryElement.textContent = subcategory.subName;
          view.appendChild(linkElement);
        });
      } else {
        console.error('Error:', response.statusText);
      }
    } catch (error) {
      console.error('Error:', error);
    }
  }
</script>

</script>

<script>
  const toggleButton = document.getElementById('toggle-menu');
  const mobileMenu = document.getElementById('mobile-menu');

  toggleButton.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
  });
</script>
<script src="https://kit.fontawesome.com/2129bb9b13.js" crossorigin="anonymous"></script>
</body>

</html>