<%- include('header') %>
    <div class="container mx-auto mt-10 font-[Montserrat]">
        <h1 class="font-black text-center  text-[50px] text-gray-700  ">MY CART</h1>
        <div class="md:flex  block shadow-md my-10">
            <!-- cart -->
            <div class="md:w-3/4 w-screen overflow-x-auto flex  flex-col py-20 bg-white px-5 ">
                <table class="border-collapse  mb-5   ">
                    <thead>
                        <tr>
                            <th class="py-2 px-6 text-xs uppercase font-semibold text-gray-600 text-center">Product
                                Details</th>
                            <th class="py-2 px-6 text-xs uppercase font-semibold text-gray-600 text-center">Quantity
                            </th>
                            <th class="py-2 px-6 text-xs uppercase font-semibold text-gray-600 text-center">Price</th>
                            <th class="py-2 px-6 text-xs uppercase font-semibold text-gray-600 text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach((product,i)=> { %>


                            <tr class="hover:bg-gray-100 items-center text-center">
                                <td class="py-6 px-6 border-b flex justify-center">
                                    <div class="flex w-32 ">
                                        <div class="md:w-32 w-[300px] ">
                                            <img class="" src="<%=product.images[0]%>" alt="prod image">
                                        </div>
                                        <div class="flex flex-col justify-between  flex-grow">
                                            <span class="font-bold text-sm">
                                                <%=product.name %>
                                            </span>
                                            <% if (product.quantity==0) {%>
                                                <span class="text-red-500 text-xs">OUT OF STOCK</span>
                                                <%}else{ %>
                                                    <span class="text-green-700 text-xs">IN STOCK</span>
                                                    <%} %>
                                                        <a href="/removeProduct/<%=product._id%>"
                                                            class="font-semibold hover:text-red-500 text-gray-500 text-xs">Remove</a>
                                        </div>
                                    </div>
                                </td>
                                <td class="py-6 flex-col  border-b">
                                    <div
                                        class="w-full h-10 text-sm bg-light py-2 flex items-center justify-center space-x-7 rounded-lg font-bold relatives ">
                                        <div class="minus plus-minus" data-item-id="<%=product._id%>">
                                            <svg width="12" height="4" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <defs>
                                                    <path
                                                        d="M11.357 3.332A.641.641 0 0 0 12 2.69V.643A.641.641 0 0 0 11.357 0H.643A.641.641 0 0 0 0 .643v2.046c0 .357.287.643.643.643h10.714Z"
                                                        id="a" />
                                                </defs>
                                                <use fill="#FF7E1B" fill-rule="nonzero" xlink:href="#a" />
                                            </svg>
                                        </div>
                                        <span id="amount" data-item-id="<%=product._id%>" class="amount select-none">
                                            <%= cart[i].quantity %>
                                        </span>
                                        <div class="plus plus-minus" data-item-id="<%=product._id%>">
                                            <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" id="plus">
                                                <defs>
                                                    <path
                                                        d="M12 7.023V4.977a.641.641 0 0 0-.643-.643h-3.69V.643A.641.641 0 0 0 7.022 0H4.977a.641.641 0 0 0-.643.643v3.69H.643A.641.641 0 0 0 0 4.978v2.046c0 .356.287.643.643.643h3.69v3.691c0 .356.288.643.644.643h2.046a.641.641 0 0 0 .643-.643v-3.69h3.691A.641.641 0 0 0 12 7.022Z"
                                                        id="b" />
                                                </defs>
                                                <use fill="#FF7E1B" fill-rule="nonzero" xlink:href="#b" id="plus" />
                                            </svg>
                                        </div>
                                    </div>
                                </td>
                                <td class="py-6 px-6 text-center border-b font-semibold text-sm">₹<%= product.price %>
                                </td>
                                <td class="py-6 px-6 text-center border-b font-semibold text-sm">₹
                                    <%=product.price*cart[i].quantity %>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>

                <div class="md:block hidden">
                    <a href="/" class="flex font-semibold text-indigo-600 text-sm mt-10">

                        <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512">
                            <path
                                d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
                        </svg>
                        Continue Shopping
                    </a>
                </div>
            </div>
            <div class="md:hidden block pl-5">
                <a href="/" class="flex font-semibold text-indigo-600 text-sm mt-10">

                    <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512">
                        <path
                            d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
                    </svg>
                    Continue Shopping
                </a>
            </div>
            <!-- summary -->
            <div id="summary" class="md:w-1/4 px-8 py-10">
                <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>
                <div class="flex justify-between mt-10 mb-5">
                    <span class="font-semibold text-sm uppercase">
                        <%=cart.length %> Items
                    </span>
                    <span class="font-semibold text-sm">₹
                        <%let sum=cart.reduce((accumulator, item)=> {
                            let product = products.find(product =>{return product._id.equals(item.productId) } );
                            return accumulator + product.price * item.quantity;
                            }, 0);
                            %><%=sum%>
                    </span>
                </div>

                <div class="py-10">
                    <label for="promo" class="font-semibold inline-block mb-3 text-sm uppercase">Promo Code</label>
                    <input type="text" id="promo" placeholder="Enter your code"
                        class="p-2 rounded-md border  text-sm w-full">

                </div>
                <a class="group relative inline-block focus:outline-none focus:ring" >
                
                    <span
                        class="relative inline-block rounded-md  border-2 border-current px-8 py-3 text-sm font-bold uppercase tracking-widest">
                        APPLY
                    </span>
                </a>
                <div class="border-t mt-8">
                    <div class="flex font-semibold justify-between py-6 text-sm uppercase">
                        <span>Total cost</span>
                        <span>₹<%=sum%></span>
                    </div>
                    <a class="group w-full text-center rounded-md relative inline-block overflow-hidden border border-green-600 px-8 py-3 focus:outline-none focus:ring"
                        href="/checkout">
                        <span
                            class="absolute inset-y-0 left-0 w-[2px] bg-green-600 transition-all group-hover:w-full group-active:bg-green-600"></span>

                        <span
                            class="relative text-sm font-medium text-green-600 transition-colors group-hover:text-white">
                            CHECKOUT
                        </span>
                    </a>
                </div>
            </div>
            <div id="toastContainer">
            <% if (msg) {  %>
                <div id="toast"
				class=" fixed bottom-3 right-0 shadow-lg items-center w-full  max-w-xs p-4 space-x-4 text-gray-500 bg-white divide-x divide-gray-200 rounded-lg  dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800"
				role="alert">
				<div class="flex">
					<svg width="24" id="added" height="24" viewBox="0 0 24 24" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_259_1647)">
							<path
								d="M20.164 13H5.419L4.478 5H12V3H4.242L4.2 2.648C4.11382 1.9186 3.76306 1.24615 3.21419 0.758104C2.66532 0.270054 1.95647 0.000312836 1.222 0L0 0V2H1.222C1.46693 2.00003 1.70334 2.08996 1.88637 2.25272C2.06941 2.41547 2.18634 2.63975 2.215 2.883L3.8 16.351C3.88595 17.0806 4.23662 17.7533 4.78551 18.2415C5.3344 18.7298 6.04337 18.9997 6.778 19H20V17H6.778C6.53291 16.9999 6.29638 16.9099 6.11333 16.7469C5.93027 16.5839 5.81343 16.3594 5.785 16.116L5.654 15H21.836L22.736 10H20.705L20.164 13Z"
								fill="#374957" />
							<path
								d="M7 24.0006C8.10456 24.0006 8.99999 23.1052 8.99999 22.0006C8.99999 20.896 8.10456 20.0006 7 20.0006C5.89543 20.0006 5 20.896 5 22.0006C5 23.1052 5.89543 24.0006 7 24.0006Z"
								fill="#374957" />
							<path
								d="M17 24.0006C18.1046 24.0006 19 23.1052 19 22.0006C19 20.896 18.1046 20.0006 17 20.0006C15.8954 20.0006 15 20.896 15 22.0006C15 23.1052 15.8954 24.0006 17 24.0006Z"
								fill="#374957" />
							<path
								d="M17.0778 8.5427H17.1108C17.3588 8.54352 17.6046 8.49505 17.8337 8.40012C18.0629 8.30519 18.2709 8.16568 18.4458 7.9897L23.7067 2.7287L22.2927 1.3147L17.1118 6.5007L14.8678 4.1607L13.4268 5.5467L15.7328 7.9467C15.9051 8.13172 16.1131 8.27992 16.3443 8.38236C16.5754 8.48479 16.8249 8.53933 17.0778 8.5427Z"
								fill="#374957" />
						</g>
						<defs>
							<clipPath id="clip0_259_1647">
								<rect width="24" height="24" fill="white" />
							</clipPath>
						</defs>
					</svg>
				


					<div id="toastMessage" class="pl-4 text-sm font-normal"><%=msg %></div>
				</div>
			</div>
            <%}%>
        </div>
        </div>
    </div>


    <!-- remove the toast -->
    <script>
        setTimeout(function() {
            var toast = document.getElementById('toast');
            if(toast) {
                toast.remove();
            }
        }, 5000);
    </script>
    <!-- item amount toggle  -->
    <script>
        var pluses = document.getElementsByClassName("plus");
        var minuses = document.getElementsByClassName("minus");
        var amounts = document.getElementsByClassName("amount");

        for (let i = 0; i < pluses.length; i++) {
            pluses[i].addEventListener("click", function () {
                amounts[i].innerHTML = parseInt(amounts[i].innerHTML) + 1;

                var itemId = this.dataset.itemId;
                var newAmount = parseInt(amounts[i].innerHTML);

                // Send the updated amount to the server
                fetch('/updateCart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ itemId: itemId, amount: newAmount }),
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success:', data);
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
                window.location.reload()


            });

            minuses[i].addEventListener("click", function () {

                if (parseInt(amounts[i].innerHTML) >= 0) {
                    amounts[i].innerHTML = parseInt(amounts[i].innerHTML) - 1;

                    var itemId = this.dataset.itemId;
                    var newAmount = parseInt(amounts[i].innerHTML);
                    // chek if its less than 0
                    if (newAmount <= 0) {
                        window.location.href = `/removeProduct/${itemId}`
                    }else{
                    // Send the updated amount to the server
                    fetch('/updateCart', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ itemId: itemId, amount: newAmount }),
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log('Success:', data);
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                        window.location.reload()
                    }
                }
            });
        }

    </script>
    <script>
        <!--LOADING  -->
        var scrollPosition = [
            self.pageXOffset || document.documentElement.scrollLeft || document.body.scrollLeft,
            self.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop
        ];

        window.onload = function () {
            window.scrollTo(scrollPosition[0], scrollPosition[1]);
        };
    </script>

    <script>
        const toggleButton = document.getElementById('toggle-menu');
        const mobileMenu = document.getElementById('mobile-menu');

        toggleButton.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <script src="https://kit.fontawesome.com/2129bb9b13.js" crossorigin="anonymous"></script>
    </body>

    </html>