<%-include('adminHeader')%>
    <!-- cropperjs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script>
    <!-- body div -->
    <div class="flex-1 flex ">

        <!-- navigation div -->
        <div class="p-2 bg-white absolute z-20 h-screen transition-all ease-linear duration-300 md:relative w-60 flex-col hidden md:flex"
            id="sideNav">
            <nav>
                <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                    href="/admin">
                    <i class="fas fa-home mr-2"></i>Dashboard
                </a>

                <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                    href="/admin/userMangement">
                    <i class="fas fa-users mr-2"></i>User Management
                </a>
                <a class="block py-2.5 px-4 my-4 rounded transition duration-200 bg-gradient-to-r from-cyan-400 to-[#076AE1] text-white"
                    href="">
                    <i class="fa-solid fa-boxes-stacked mr-2"></i>Category Management
                </a>
                <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                    href="/admin/productManagement">
                    <i class="fas fa-store mr-2"></i>Product Management
                </a>

                <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                    href="#">
                    <i class="fas fa-exchange-alt mr-2"></i>Order Management
                </a>
                <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                    href="#">
                    <i class="fas fa-file-alt mr-2"></i>Report
                </a>
                <a class="block text-gray-500 py-2.5 px-4 my-2 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-600 hover:to-[#076AE1] hover:text-white mt-auto"
                    href="/admin/logout">
                    <i class="fas fa-sign-out-alt mr-2"></i>Logout
                </a>
            </nav>



        </div>

        <!-- content div -->
        <div class="flex justify-center w-full overflow-auto">
            <div class="flex flex-col overflow-auto pt-10 ">
                <!-- search -->
                <div class="mx-auto max-w-md">
                    <form action="" class="relative mx-auto w-max">
                        <input type="search"
                            class="appearance-none cursor-pointer relative z-10 h-12 w-full rounded-full border bg-transparent pl-12 outline-none  focus:cursor-text focus:border-gray-700  "
                            placeholder="Search Category" />
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="absolute inset-y-0 my-auto h-8 w-12 border-r border-transparent stroke-gray-500 px-3.5 peer-focus:gray-200 "
                            fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                        </svg>
                    </form>


                </div>

                <div class="overflow-x-hidden  lg:mx-0.5">


                    <!-- initialization of aphine values -->
                    <div x-data="{ editModal : false ,showModal: false, addModel:false,name:'',desc:'',id:'',category:'',subCat:[],image:[]}"
                        class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                        <div class=" h-auto overflow-auto">

                            <div class="w-80 md:w-[33rem] sm:w-[40rem] lg:w-[70rem] overflow-auto">

                                <!-- category Table -->
                                <table class="min-w-full  table-fixed " id="myTable">
                                    <thead class="bg-gray-200 border-b">
                                        <tr>
                                            <th scope="col"
                                                class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                Name
                                            </th>
                                            <th scope="col"
                                                class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                Description
                                            </th>
                                            <th scope="col"
                                                class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% Category.forEach(category=> { %>
                                            <tr
                                                class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">

                                                <td
                                                    class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                    <%= category.name %>
                                                </td>
                                                <td
                                                    class="text-sm text-gray-900 font-light max-w-sm overflow-hidden px-6 py-4 whitespace-nowrap">
                                                    <%= category.description %>
                                                </td>
                                                <td
                                                    class="text-sm text-gray-900 font-light  text-center px-6 py-4 whitespace-nowrap">
                                                    <button class="edit">
                                                        <i @click="editModal = !editModal ,id='<%= category._id %>',name='<%= category.name %>',subCat=JSON.parse('<%= JSON.stringify(category.subcategory) %>'),image=<%= JSON.stringify(category.image) %>,desc='<%= category.description %>'"
                                                            class="fa fa-edit fa-lg" style="color: green"
                                                            aria-hidden="true"></i>

                                                    </button>

                                                    <button @click="showModal = !showModal,id='<%= category._id %>'">
                                                        <i class="fas fa-thin fa-trash-can fa-lg"
                                                            style="color: #ff0000;"></i>
                                                    </button>

                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>

                                <!-- CATEGORY DELETE -->
                                <div x-show="showModal"
                                    class="fixed text-gray-500 flex items-center justify-center overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 bottom-0"
                                    x-transition:enter="transition ease duration-300"
                                    x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
                                    x-transition:leave="transition ease duration-300"
                                    x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">
                                    <!-- Modal -->
                                    <div x-show="showModal" class="bg-white rounded-xl shadow-2xl p-6  mx-10"
                                        @click.away="showModal = false"
                                        x-transition:enter="transition ease duration-100 transform"
                                        x-transition:enter-start="opacity-0 scale-90 translate-y-1"
                                        x-transition:enter-end="opacity-100 scale-100 translate-y-0"
                                        x-transition:leave="transition ease duration-100 transform"
                                        x-transition:leave-start="opacity-100 scale-100 translate-y-0"
                                        x-transition:leave-end="opacity-0 scale-90 translate-y-1">
                                        <!-- Title -->
                                        <span class="font-bold block text-2xl mb-3">
                                            DO YOU Really want to Delete this Category
                                        </span>
                                        <span class="font-bold block text-xl text-red-700 mb-3">
                                            This action cant be undone
                                        </span>
                                        <!-- Buttons -->
                                        <div class="text-right space-x-5 mt-5">
                                            <a x-bind:href="'/admin/deleteCategory/' + id">
                                                <button
                                                    class="toggle-block-button px-4 py-2 text-sm bg-white rounded-xl border transition-colors duration-150 ease-linear border-gray-200 text-gray-500 focus:outline-none focus:ring-0 font-bold hover:bg-red-700 hover:text-white focus:bg-indigo-50 focus:text-indigo">YES</button>
                                            </a>
                                            <button @click="showModal = !showModal"
                                                class=" px-4 py-2 text-sm bg-white rounded-xl border transition-colors duration-150 ease-linear border-gray-200 text-gray-500 focus:outline-none focus:ring-0 font-bold hover:bg-green-500 hover:text-white focus:bg-indigo-50 focus:text-indigo">NO</button>

                                        </div>
                                    </div>
                                </div>

                                <!-- Category edit modal-->
                                <div x-show="editModal"
                                    class="absolute text-gray-500 flex items-center justify-center overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 "
                                    x-transition:enter="transition ease duration-300"
                                    x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
                                    x-transition:leave="transition ease duration-300"
                                    x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">
                                    <!-- Modal -->
                                    <div x-show="editModal"
                                        class="bg-white h-auto rounded-xl sm:w-3/6 shadow-2xl p-6 overflow-auto my-5 w-96"
                                        @click.away="editModal = false">
                                        <!-- Title -->
                                        <span class="font-bold block text-2xl mb-3">
                                            Edit Category
                                        </span>
                                        <!-- Body -->
                                        <div>
                                            <form class="mt-3" action="/admin/updateCategory" method="POST"
                                                enctype="multipart/form-data">
                                                <input type="hidden" :value="id" name="id">
                                                <div>
                                                    <label class="block md:text-xs float-left text-gray-700">Category
                                                        Name</label>
                                                    <input type="text" name="name" id="fullname"
                                                        placeholder="Enter Category Name"
                                                        class="w-full px-4 py-3 rounded-lg placeholder:text-sm bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none"
                                                        autofocus="" autocomplete="" required="" :value="name">
                                                </div>
                                                <div>
                                                    <label
                                                        class="block md:text-xs mt-4 float-left text-gray-700">Description</label>
                                                    <textarea name="description" id="description"
                                                        placeholder="Enter description"
                                                        class="w-full px-4 py-3 rounded-lg placeholder:text-sm bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none"
                                                        autofocus="" autocomplete="" required=""
                                                        :value="desc"></textarea>
                                                </div>

                                                <!-- sub category -->
                                                <p class=" mt-3 block md:text-xs  text-gray-700">Sub Category</p>

                                                <div class="h-32 mt-3 overflow-auto">


                                                    <table class="min-w-full  table-fixed">
                                                        <thead class="bg-gray-200 border-b">

                                                            <tr>

                                                                <th scope="col"
                                                                    class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                                    Name
                                                                </th>
                                                                <th scope="col"
                                                                    class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                                    Description
                                                                </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody id="sub1">
                                                            <!-- Sub category form table -->
                                                            <template x-for="sub in subCat">
                                                                <tr>
                                                                    <td>
                                                                        <input type="text" name="subName"
                                                                            id="subcategory"
                                                                            placeholder="Enter Category Name"
                                                                            class="w-full px-4 py-3 rounded-lg placeholder:text-sm bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none"
                                                                            autofocus="" autocomplete=""
                                                                            x-bind:value='sub.subName'>
                                                                    </td>
                                                                    <td>
                                                                        <textarea name="subDescription" id="description"
                                                                            placeholder="Enter the description"
                                                                            class="w-full px-4 py-3 rounded-lg placeholder:text-sm bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none"
                                                                            autofocus="" autocomplete=""
                                                                            x-bind:value='sub.subDescription'></textarea>
                                                                    </td>
                                                                </tr>
                                                            </template>

                                                        </tbody>
                                                    </table>
                                                </div>
                                                <button type="button" class="w-auto block bg-[#076AE1] hover:bg-[#0769e1ee] focus:bg-[#0769e1e1] text-white font-semibold rounded-lg
                                                    px-2 py-1 mt-5" onclick="addSubcategory()">Add Subcategory</button>
                                                <div>

                                                    <label
                                                        class="block md:text-xs  float-left text-gray-700">Image</label>
                                                    <input
                                                        class="file_input w-full rounded-lg  placeholder:text-sm text-sm px-4 py-3 bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none"
                                                        id="file_input" name="categoryImage" type="file" multiple
                                                        accept="image/*">
                                                    <div id="preview" class="preview flex flex-wrap gap-2">
                                                        <template x-for="(img,i ) in image">

                                                            <div>
                                                                <img x-bind:src="img" alt="product image"
                                                                    class="w-[100px] h-[100px]">
                                                                <button class="remove-image" x-bind:data-image="i"
                                                                    x-bind:data-id="id" type="button">Remove</button>
                                                            </div>

                                                        </template>

                                                    </div>
                                                    <!-- image  Crop preview -->
                                                    <div id="croppedImageContainer"
                                                        class="croppedImageContainer h-64 overflow-auto">

                                                    </div>
                                                    <div>
                                                        <button type="button"
                                                            class="bg-blue-500 z-50 save text-white rounded-xl px-4"
                                                            id="save"></button>
                                                    </div>
                                                </div>

                                                <button type="submit"
                                                    class="w-full block bg-indigo-500 hover:bg-indigo-400 focus:bg-indigo-400 text-white font-semibold rounded-lg px-4 py-3 mt-5">SAVE</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>

                                <!--Add Category modal-->
                                <div x-show="addModel"
                                    class="absolute text-gray-500 flex items-center justify-center overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 "
                                    x-transition:enter="transition ease duration-300"
                                    x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
                                    x-transition:leave="transition ease duration-300"
                                    x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">
                                    <!-- Modal -->
                                    <div x-show="addModel" class="bg-white rounded-xl sm:w-3/6 w-96 overflow-auto my-5 shadow-2xl p-6 "
                                        @click.away="addModel = false">
                                        <!-- Title -->
                                        <span class="font-bold block text-2xl mb-3">
                                            ADD Category
                                        </span>
                                        <!-- Body -->
                                        <div>
                                            <form class="mt-3" action="/admin/addCategory" method="POST"
                                                enctype="multipart/form-data">
                                                <div>
                                                    <label class="block md:text-xs float-left text-gray-700">Category
                                                        Name</label>
                                                    <input type="text" name="name" id=""
                                                        placeholder="Enter Category Name"
                                                        class="w-full px-4 py-3 rounded-lg placeholder:text-sm bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none"
                                                        autofocus="" autocomplete="" required="">
                                                </div>
                                                <div>
                                                    <label
                                                        class="block md:text-xs mt-4 float-left text-gray-700">Description</label>
                                                    <textarea name="description" id="description"
                                                        placeholder="Enter Description"
                                                        class="w-full px-4 py-3 rounded-lg placeholder:text-sm bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none"
                                                        autofocus="" autocomplete="" required=""></textarea>
                                                </div>
                                                <div>

                                                    <label
                                                        class="block md:text-xs  float-left text-gray-700">Image</label>
                                                    <input
                                                        class="file_input w-full rounded-lg  placeholder:text-sm text-sm px-4 py-3 bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none"
                                                        id="file_input" name="categoryImage" type="file" required
                                                        multiple accept="image/*">
                                                    <!-- image  Crop preview -->
                                                    <div class="croppedImageContainer h-64 overflow-auto">

                                                    </div>
                                                    <div>
                                                        <button type="button"
                                                            class="bg-blue-500 z-50 save text-white rounded-xl px-4">
                                                        </button>
                                                    </div>
                                                </div>

                                                  <!-- sub category -->
                                                  <p class=" mt-3 block md:text-xs  text-gray-700">Sub Category</p>

                                                  <div class="h-32 mt-3 overflow-auto">
  
  
                                                      <table class="min-w-full  table-fixed">
                                                          <thead class="bg-gray-200 border-b">
  
                                                              <tr>
  
                                                                  <th scope="col"
                                                                      class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                                      Name
                                                                  </th>
                                                                  <th scope="col"
                                                                      class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                                      Description
                                                                  </th>
  
                                                              </tr>
                                                          </thead>
                                                          <tbody id="sub2">
                                                              <!-- Sub category form table -->
  
                                                          </tbody>
                                                      </table>
                                                  </div>
                                                  <button type="button" class="w-auto block bg-[#076AE1] hover:bg-[#0769e1ee] focus:bg-[#0769e1e1] text-white font-semibold rounded-lg
                                                      px-2 py-1 mt-5" onclick="addSubcategory()">Add Subcategory</button>
                                                
                                              
                                                <button type="submit"
                                                    class="w-full block bg-indigo-500 hover:bg-indigo-400 focus:bg-indigo-400 text-white font-semibold rounded-lg px-4 py-3 mt-5">SAVE</button>
                                            </form>


                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class=" mt-10 flex w-full md:w-60 justify-center">
                            <button @click="addModel = !addModel"
                                class="middle none w-52 center mr-4 rounded-lg bg-[#076AE1] py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                data-ripple-light="true">
                                Add new Category
                            </button>
                        </div>

                    </div>


                </div>
            </div>

        </div>

    </div>


    <!-- toast -->
    <div id="toast" class="fixed bottom-0 right-0 m-5 p-5 bg-black text-white rounded-lg shadow-lg hidden">
        <div id="progressBar"
            class="h-1.5 w-full bg-blue-gray-50 rounded-sm -translate-y-3 overflow-hidden  transition-all duration-15000 ease-linear">
            <div class="h-full bg-green-600" style="width: 0%;"></div>
        </div>
        <p id="toastMessage" class="mt-2">Error message</p>
    </div>

    </div>


    <!-- function for toast -->
    <script>


        function showToast(errorMessage) {
            console.log(errorMessage);
            // Get the toast, toastMessage, and progressBar elements
            const toast = document.getElementById('toast');
            const toastMessage = document.getElementById('toastMessage');
            const progressBar = document.getElementById('progressBar').firstElementChild;

            // Update the message and show the toast
            toastMessage.textContent = errorMessage;
            toast.classList.remove('hidden');

            // Update the width of the progress bar every 0.15 seconds for 5 seconds
            let width = 0;
            const intervalId = setInterval(() => {
                width += 1;
                progressBar.style.width = `${width}%`;

                // After 15 seconds, hide the toast and clear the interval
                if (width >= 100) {
                    toast.classList.add('hidden');
                    clearInterval(intervalId);
                    // Reset the width of the progress bar for the next toast message
                    progressBar.style.width = '0%';
                }
            }, 50); // 50 milliseconds * 100 iterations = 5 seconds
        }


    </script>

    <% if (errorMessage) { %>
        <script>
            let err = '<%= errorMessage %>';
            showToast(err);              
        </script>
        <% } %>


            <!-- cropper js -->
            <script>
                // Get references to elements
                const fileInput = document.querySelectorAll('.file_input');
                const croppedImageContainer=document.querySelectorAll('.croppedImageContainer')
                const  saveButton = document.querySelectorAll('.save')

                // Initialize Cropper.js for multiple images
                let croppers = [];
                fileInput.forEach((fileInput, n) => {
                    const selectedFiles = [];
                    fileInput.addEventListener('change', (e) => {
                        const files = e.target.files;

                        // Loop through selected files
                        for (let i = 0; i < files.length; i++) {
                            const file = files[i];

                            // Ensure the file is an image
                            if (file.type.startsWith('image/')) {
                                // Create a new FileReader to read the selected image
                                const reader = new FileReader();

                                reader.onload = (e) => {
                                    // Create an image element and set its source to the selected file
                                    const img = new Image();
                                    img.src = e.target.result;
                                    img.classList.add('m-2')
                                    // Append the image to the container
                                    croppedImageContainer[n].appendChild(img);

                                    // Initialize Cropper.js on the image
                                    const cropper = new Cropper(img, {

                                        aspectRatio: 5 / 4, // Set the aspect ratio
                                        viewMode: 1,    // Set the view mode as needed
                                    });

                                    // Store the cropper instance in the croppers array
                                    croppers.push(cropper);
                                };

                                reader.readAsDataURL(file);
                            }
                        }
                    });

                   
                    saveButton[n].textContent = 'Save';
                    saveButton[n].onclick = function () {
                        // Loop through the croppers and save each cropped image
                        croppers.forEach((cropper, index) => {
                            let canvas = cropper.getCroppedCanvas();
                            canvas.toBlob(function (blob) {
                                // Create a new blob URL for the cropped image
                                let croppedImageUrl = URL.createObjectURL(blob);
                                let fileName = `cropped_${index}.jpeg`;

                                const file = new File([blob], fileName, { type: 'image/jpeg' });
                                selectedFiles.push(file)
                                // Create a new FormData object and append the Blob
                                let formData = new FormData();
                                formData.append(`croppedImage_${index}`, file);

                            }, 'image/jpeg');
                        });
                        // adding the data to the form
                        const dataTransfer = new DataTransfer();
                        selectedFiles.forEach(file => {
                            console.log(file);
                            dataTransfer.items.add(file); 
 
                        });
                        fileInput.files = dataTransfer.files;
                    };
                });
            </script>






            <!-- delete existing image -->
            <script>
                // Get all the "remove" buttons
                const editTrigger = document.querySelectorAll('.edit')
                editTrigger.forEach((editTrigger, i) => {


                    editTrigger.addEventListener('click', () => {
                        const removeButton = document.querySelectorAll('.remove-image');
                        removeButton.forEach((removeButton) => {
                            removeButton.addEventListener('click', () => {
                                console.log("event triggered");

                                // Get the image name from the data attribute
                                const imageIndex = removeButton.dataset.image;
                                const cId = removeButton.dataset.id;
                                // Send a request to the server to remove the image
                                fetch('/admin/removeCatImage', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({ imageIndex, cId })
                                })
                                    .then(response => {
                                        // Handle the response from the server
                                        if (response.ok) {
                                            // Image removed successfully
                                            console.log('Image removed');
                                            window.location.reload()
                                        } else {
                                            // Error occurred while removing the image
                                            console.error('Error removing image');
                                        }
                                    })
                                    .catch(error => {
                                        // Handle any network or server errors
                                        console.error('Network or server error:', error);
                                    });
                            });
                        })

                    })
                })


            </script>
            <!--ReLOADING  -->
            <script>
                let scrollPosition = [
                    self.pageXOffset || document.documentElement.scrollLeft || document.body.scrollLeft,
                    self.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop
                ];

                window.onload = function () {
                    window.scrollTo(scrollPosition[0], scrollPosition[1]);
                };
            </script>


            <!-- adding sub category -->
            <script>

                let subcategoryIndex = 0;

                function addSubcategory() {
                    const table = document.querySelector('table #sub1');
                    const table2 = document.querySelector('table #sub2');
                    const row = table.insertRow(-1);
                    const row2 = table2.insertRow(-1);

                    const cellCategory = row.insertCell(0);
                    const cellDescription = row.insertCell(1);

                    const cellCategory2 = row2.insertCell(0);
                    const cellDescription2 = row2.insertCell(1);
                    const subName = `
    <input type="text" name="subName"
        id="subcategory"
        placeholder="Enter Category Name"
        class="w-full px-4 py-3 rounded-lg placeholder:text-sm bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none"
        autofocus="" autocomplete="" >
  `
                    const subDesc = `
    <textarea name="subDescription" id="description"
        placeholder="Enter the description"
        class="w-full px-4 py-3 rounded-lg placeholder:text-sm bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none"
        autofocus="" autocomplete=""
        ></textarea>
  `
                    cellCategory.innerHTML = subName;
                    cellDescription.innerHTML = subDesc;

                    cellCategory2.innerHTML = subName;
                    cellDescription2.innerHTML = subDesc;

                    subcategoryIndex++;
                }


            </script>
            <!-- search -->
            <script>
                const searchInput = document.querySelector('input[type="search"]');
                const table = document.getElementById('myTable');
                searchInput.addEventListener('input', filterTable);
                function filterTable() {
                    const filter = this.value.toUpperCase();
                    const rows = table.getElementsByTagName('tr');

                    for (let i = 1; i < rows.length; i++) { // Start from 1 to skip the header row
                        let row = rows[i];


                        let cells = row.getElementsByTagName('td');

                        if (cells[0].textContent.toUpperCase().indexOf(filter) > -1) {
                            row.style.display = "";
                        } else {
                            row.style.display = "none";
                        }
                    }
                }


            </script>
            <!-- responsive nav bar -->
            <script>
                const menuBtn = document.getElementById('menuBtn');
                const sideNav = document.getElementById('sideNav');
                menuBtn.addEventListener('click', () => {
                    sideNav.classList.toggle('hidden');
                });
            </script>
            <script src="https://kit.fontawesome.com/2129bb9b13.js" crossorigin="anonymous"></script>
            <script>
                if (window.history.replaceState) {
                    window.history.replaceState(null, null, window.location.href);
                }
            </script>
            </body>

            </html>