<%-include('adminHeader')%>
    <!-- body div -->
    <div class="flex-1 flex ">

        <!-- navigation div -->
        <div class="p-2 bg-white absolute z-20 h-screen transition-all ease-linear duration-300 md:relative w-60 flex-col hidden md:flex"
            id="sideNav">
            <nav>
                <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                    href="/admin">
                    <i class="fas fa-home mr-2"></i>Dashboard
                </a>
                <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                    href="/admin/userMangement">
                    <i class="fas fa-users mr-2"></i>User Management
                </a>
                <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                    href="/admin/categoryManagement">
                    <i class="fa-solid fa-boxes-stacked mr-2"></i>Category Management
                </a>
                <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                    href="/admin/productManagement">

                    <i class="fas fa-store mr-2"></i>Product Management
                </a>
                <a class="block py-2.5 px-4 my-4 rounded transition duration-200 bg-gradient-to-r from-cyan-400 to-[#076AE1] text-white"
                    href="/admin/orderManagement">
                    <i class="fas fa-exchange-alt mr-2"></i>Order Management
                </a>
                <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                    href="#">
                    <i class="fas fa-file-alt mr-2"></i>Report
                </a>
                <a class="block text-gray-500 py-2.5 px-4 my-2 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-600 hover:to-[#076AE1] hover:text-white mt-auto"
                    href="/admin/logout">
                    <i class="fas fa-sign-out-alt mr-2"></i>Logout
                </a>
            </nav>



        </div>
        <!-- content div -->
        <div class="flex justify-center  overflow-hidden">
            <div class="flex flex-col pt-10 sm:w-screen">
                <!-- search -->
                <div class="mx-auto max-w-md">
                    <form action="" class="relative mx-auto w-max">
                        <input type="search"
                            class="appearance-none peer cursor-pointer relative z-10 h-12 w-full rounded-full border bg-transparent pl-12 outline-none  focus:cursor-text focus:border-gray-700  "
                            placeholder="Search Product" />
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="absolute inset-y-0 my-auto h-8 w-12 border-r border-transparent stroke-gray-500 px-3.5 peer-focus:gray-200 "
                            fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                        </svg>
                    </form>


                </div>

                <div class="overflow-x-hidden  lg:mx-0.5">
                    <!-- initialization of alphine values -->
                    <div x-data="{ editModel : false ,addModel:false}" class="py-2 inline-block  sm:px-6 lg:px-8">
                        <div class=" h-auto w- overflow-auto">

                            <div class="w-[23rem] md:w-[33rem] sm:w-[40rem] lg:w-[70rem] overflow-auto">
                                <!-- Order Table -->
                                <table class="min-w-full  table-fixed " id="myTable">
                                    <thead class="bg-gray-200 border-b">
                                        <tr>

                                            <th scope="col"
                                                class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                Order Id
                                            </th>
                                            <th scope="col"
                                                class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                UserId
                                            </th>
                                            <th scope="col"
                                                class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                Payment Id
                                            </th>
                                            <th scope="col"
                                                class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                Items
                                            </th>
                                            <th scope="col"
                                                class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                Total amount
                                            </th>

                                            <th scope="col"
                                                class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                Payment Mode
                                            </th>
                                            <th scope="col"
                                                class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                Shipping address
                                            </th>
                                            <th scope="col"
                                                class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                Status
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% order.forEach((order,i)=> { %>
                                            <tr class="bg-white border-b clickable-row cursor-pointer transition duration-300 ease-in-out hover:bg-gray-100"
                                                data-href="orderPage/<%= order._id %>">

                                                <td
                                                    class=" text-sm overflow-hidden text-gray-900 font-light px-6 max-w-sm py-4 whitespace-nowrap">
                                                    <%= order._id %>
                                                </td>
                                                <td
                                                    class="text-sm overflow-hidden text-gray-900 font-light px-6 max-w-sm py-4 whitespace-nowrap">
                                                    <%= order.userId %>
                                                </td>
                                                <td
                                                    class="text-sm overflow-hidden text-gray-900 font-light px-6 max-w-sm py-4 whitespace-nowrap">
                                                    <%= order.paymentId %>
                                                </td>

                                                <td
                                                    class="text-sm text-gray-900 font-light max-w-sm overflow-hidden px-6 py-4 whitespace-nowrap">
                                                    <% order.items.forEach(item=> {%>
                                                        <% let product=products.find(prod=>
                                                            prod._id.equals(item.productId))%>
                                                            <%=product.name%> x <%=item.quantity %> <br>
                                                                    <% }); %>
                                                </td>
                                                <td
                                                    class="text-sm overflow-hidden text-gray-900 font-light px-6 max-w-sm py-4 whitespace-nowrap">
                                                    <%= order.total %>
                                                </td>

                                                <td
                                                    class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                    <%= order.paymentMode %>
                                                </td>
                                                <td
                                                    class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                    <%= order.shippingAddress.addressLine1 %> <br>
                                                        <%= order.shippingAddress.city %> <br>
                                                            <%= order.shippingAddress.pin %> <br>
                                                </td>
                                                <td
                                                    class="text-sm text-gray-900 font-light px-6 max-w-sm py-4 whitespace-nowrap">
                                                    <% if (order.status=='delivered' ) { %>
                                                        <span
                                                            class="text-sm text-green-600 font-light px-6 py-4 whitespace-nowrap">DELIVERED</span>
                                                        <% }else if (order.status=='cancelled' ) {%>
                                                            <span
                                                                class="text-sm text-red-700 font-light px-6 py-4 whitespace-nowrap">CANCELLED</span>

                                                            <% }else{ %>
                                                                <select name="status"
                                                                    class="status text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                                                                    id="">
                                                                    <option value="pending" data-oid="<%= order._id %>"
                                                                        <% if (order.status=='pending' ) {%> selected <%
                                                                            } %>

                                                                            >Pending</option>
                                                                    <option value="confirmed"
                                                                        data-oid="<%= order._id %>" <%
                                                                        if(order.status=='confirmed' ) { %>
                                                                        selected
                                                                        <% } %>
                                                                            >confirmed
                                                                    </option>
                                                                    <option value="delivered"
                                                                        data-oid="<%= order._id %>" <%
                                                                        if(order.status=='delivered' ) {%> selected <% }
                                                                            %>
                                                                            >delivered</option>
                                                                    <option value="cancelled"
                                                                        data-oid="<%= order._id %>" <%
                                                                        if(order.status=='cancelled' ) {%>
                                                                        selected
                                                                        <% } %>
                                                                            >cancel
                                                                    </option>

                                                                </select>
                                                                <% } %>

                                                </td>

                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>


                            </div>


                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- updation of status -->
        <script>
            const select = document.querySelectorAll('.status')
            select.forEach(item => {


                item.addEventListener('change', (event) => {
                    const status = item.value
                    const selectedOption = item.options[item.selectedIndex];
                    const oid = selectedOption.dataset.oid;
                    fetch('/admin/updateStatus', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ status: status, oId: oid }),
                    })
                        .then(response => response.json())
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                    // window.location.reload()

                })
            });

        </script>
        <!-- maintain same place -->
        <script>
            <!--LOADING  -->
            let scrollPosition = [
                self.pageXOffset || document.documentElement.scrollLeft || document.body.scrollLeft,
                self.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop
            ];

            window.onload = function () {
                window.scrollTo(scrollPosition[0], scrollPosition[1]);
            };
        </script>

        <!-- search -->
        <script>
            const searchInput = document.querySelector('input[type=" search"]'); const
                table = document.getElementById('myTable');
            searchInput.addEventListener('input',
                filterTable); function filterTable() {
                    const
                        filter = this.value.toUpperCase(); const
                            rows = table.getElementsByTagName('tr'); for (let
                                i = 1; i < rows.length; i++) { // Start from 1 to skip the header row let row = rows[i];
                        let cells = row.getElementsByTagName('td');
                        if (cells[0].textContent.toUpperCase().indexOf(filter) > -1) {
                            row.style.display = "";
                        } else {
                            row.style.display = "none";
                        }
                    }
                }
        </script>

        <!-- order detail page -->

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const rows = document.querySelectorAll(".clickable-row");
                rows.forEach(function (row) {
                    row.addEventListener("click", function () {
                        const href = this.getAttribute("data-href");
                        if (href) {
                            window.location.href = href;
                        }
                    });
                });
            });
        </script>


        <script>
            const menuBtn = document.getElementById('menuBtn');
            const sideNav = document.getElementById('sideNav');
            menuBtn.addEventListener('click', () => {
                sideNav.classList.toggle('hidden');
            });
        </script>
        <script src="https://kit.fontawesome.com/2129bb9b13.js" crossorigin="anonymous"></script>
        </body>

        </html>