<%- include('header') %>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet">
	<div class="absolute  top-16 min-w-fit container mx-auto xl:flex flex-col gap-8 justify-center invisible z-50 font-[Montserrat]"
		id="light-2">
		<div class="h-fit w-full mx-auto">
			<div class="flex items-center justify-center w-[35%] rounded-xl m-auto bg-orange xl:w-[28%]">
				<button
					class="bg-white relative left-6 rounded-full flex justify-center items-center pr-4 pl-3 py-3 ml-3 z-20 group"
					id="previous">
					<svg width="12" height="18" xmlns="http://www.w3.org/2000/svg"
						class="stroke-[#1D2026] group-hover:stroke-orange transition" id="previous">
						<path d="M11 1 3 9l8 8" stroke-width="3" fill="none" fill-rule="evenodd" id="previous" />
					</svg>
				</button>

				<img src="<%=product.images[0] %>" alt="printer" class="rounded-xl " id="hero-lightbox" />

				<button
					class="bg-white relative right-6 rounded-full flex justify-center items-center pr-3 pl-4 py-3 mr-3 z-20 group"
					id="next">
					<svg width="13" height="18" xmlns="http://www.w3.org/2000/svg"
						class="stroke-[#1D2026] group-hover:stroke-orange transition" id="next">
						<path d="m2 1 8 8-8 8" stroke-width="3" fill="none" fill-rule="evenodd" id="next" />
					</svg>
				</button>
			</div>
		</div>
	</div>

	<div class="thumbnails  mt-28 thumbnails-light hidden w-1/3 justify-between gap-4 m-auto lg:mt-6 xl:w-1/4">

		<!-- items -->
		<% product.images.forEach((img,i)=> { %>
			<div id="<%=(i+1)%>" class="w-1/5 cursor-pointer bg-white rounded-xl ring-active">
				<img src="<%=img%>" alt="thumbnail" class="rounded-xl hover:opacity-50 transition active"
					id="thumbLight-<%=(i+1)%>" />
			</div>
			<%}); %>
	</div>
	<!-- Contents -->
	<div class="container mt-20 mx-auto font-kumbh text-base font-[Montserrat]">
		<!-- Main Content -->
		<main class="w-full flex flex-col lg:flex-row">


			<!-- carosal for mobile -->
			<div id="controls-carousel" class="relative w-full block md:hidden" data-carousel="static">
				<!-- Carousel wrapper -->
				<div class="relative h-56 overflow-hidden rounded-lg md:h-96">
					<!-- Items -->
					<% product.images.forEach(img=> { %>
						<div class="hidden duration-700 ease-in-out" data-carousel-item>
							<img src="<%=img %>"
								class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
								alt="...">
						</div>
						<%}); %>


				</div>
				<!-- Slider controls -->
				<button type="button"
					class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
					data-carousel-prev>
					<span
						class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
						<svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="M5 1 1 5l4 4" />
						</svg>
						<span class="sr-only">Previous</span>
					</span>
				</button>
				<button type="button"
					class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
					data-carousel-next>
					<span
						class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
						<svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="m1 9 4-4-4-4" />
						</svg>
						<span class="sr-only">Next</span>
					</span>
				</button>
			</div>



			<!-- Gallery -->
			<section
				class="h-full hidden md:block flex-col gap-2 md:w-full mt-10 sm:flex sm:flex-row sm:gap-4 sm:h-full  sm:mx-2 md:gap-2 md:mx-4 lg:flex-col lg:mx-0 ">

				<picture
					class="relative overflow-hidden flex items-center h-96 bg-orange sm:bg-transparent  magnify-continer ">

					<img src="<%=product.images[0] %>" alt="printer"
						class="block magnify-image sm:rounded-xl xl:w-[70%] xl:rounded-xl m-auto pointer-events-none transition duration-300 lg:w-3/4 lg:pointer-events-auto lg:cursor-pointer lg:hover:shadow-xl"
						id="hero" />
				</picture>

				<div
					class="thumbnails pt-10 justify-center gap-2 m-auto sm:flex sm:flex-col sm:justify-start sm:items-center sm:h-fit md:gap-5 lg:flex-row">
					<% product.images.forEach((img,i)=> { %>
						<div id="<%=(i+1)%>"
							class="w-1/5 cursor-pointer rounded-xl sm:w-28 md:w-32 lg:w-[72px] xl:w-[78px] ring-active">
							<img src="<%=img%>" alt="thumbnail" class="rounded-xl hover:opacity-50 transition active"
								id="thumb-<%=(i+1)%>" data-total="<%=product.images.length %>" alt="PRODUCT IMAGE" />
						</div>
						<%; }); %>

				</div>
			</section>

			<!-- Text -->
			<section class="w-full p-6 lg:mt-20 lg:pr-20 lg:py-10 2xl:pr-40 2xl:mt-40">
				<!-- <h4 class="font-bold text-orange mb-2 uppercase text-xs tracking-widest">
					Printer
				</h4> -->
				<h1 class="text-very-dark mb-4 font-bold text-3xl lg:text-4xl">
					<%=product.name %>
				</h1>
				<p class="text-dark-grayish mb-6 text-base sm:text-lg">
					<%=product.description %>
				</p>

				<div class="flex items-center justify-between mb-6 md:mb-20 sm:flex-col sm:items-start">
					<div class="flex items-center gap-4">
						<h3 class="text-very-dark font-bold text-3xl inline-block">
							₹<%=product.price %>
						</h3>
					</div>

				</div>

				<div class="flex flex-col gap-5 mb-16 sm:flex-row lg:mb-0">
					<div
						class="w-full h-10 text-sm bg-light py-2 flex items-center justify-center space-x-7 rounded-lg font-bold relatives sm:w-80">
						<div id="minus" class="plus-minus w-10 h-10 cursor-pointer flex items-center justify-center ">
						
							<svg width="12" height="4" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink">
								<defs>
									<path
										d="M11.357 3.332A.641.641 0 0 0 12 2.69V.643A.641.641 0 0 0 11.357 0H.643A.641.641 0 0 0 0 .643v2.046c0 .357.287.643.643.643h10.714Z"
										id="a" />
								</defs>
								<use fill="#FF7E1B" fill-rule="nonzero" xlink:href="#a" />
							</svg>
						</div>
						<span id="amount" class="select-none">1</span>
						<div id="plus" class="plus-minus cursor-pointer w-10 h-10 flex items-center justify-center">
							<svg width="12" height="12" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" id="plus">
								<defs>
									<path
										d="M12 7.023V4.977a.641.641 0 0 0-.643-.643h-3.69V.643A.641.641 0 0 0 7.022 0H4.977a.641.641 0 0 0-.643.643v3.69H.643A.641.641 0 0 0 0 4.978v2.046c0 .356.287.643.643.643h3.69v3.691c0 .356.288.643.644.643h2.046a.641.641 0 0 0 .643-.643v-3.69h3.691A.641.641 0 0 0 12 7.022Z"
										id="b" />
								</defs>
								<use fill="#FF7E1B" fill-rule="nonzero" xlink:href="#b" id="plus" />
							</svg>
						</div>
					</div>

					<!-- add to cart button -->


					<button onclick="addToCart()"
						class="w-full h-10 bg-orange py-2 flex items-center justify-center gap-4 text-xs rounded-lg font-bold text-light shadow-md shadow-orange hover:brightness-125 transition select-none"
						id="add-cart">

						<svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"></path>
						</svg>

						Add to cart
					</button>
				</div>
			</section>
			<!-- toast -->
			<a href="/cart">
			<div id="toast"
				class="hidden fixed bottom-3 right-0 shadow-lg items-center w-full  max-w-xs p-4 space-x-4 text-gray-500 bg-white divide-x divide-gray-200 rounded-lg  dark:text-gray-400 dark:divide-gray-700 space-x dark:bg-gray-800"
				role="alert">
				<div class="flex">
					<svg width="24" class="hidden" id="added" height="24" viewBox="0 0 24 24" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_259_1647)">
							<path
								d="M20.164 13H5.419L4.478 5H12V3H4.242L4.2 2.648C4.11382 1.9186 3.76306 1.24615 3.21419 0.758104C2.66532 0.270054 1.95647 0.000312836 1.222 0L0 0V2H1.222C1.46693 2.00003 1.70334 2.08996 1.88637 2.25272C2.06941 2.41547 2.18634 2.63975 2.215 2.883L3.8 16.351C3.88595 17.0806 4.23662 17.7533 4.78551 18.2415C5.3344 18.7298 6.04337 18.9997 6.778 19H20V17H6.778C6.53291 16.9999 6.29638 16.9099 6.11333 16.7469C5.93027 16.5839 5.81343 16.3594 5.785 16.116L5.654 15H21.836L22.736 10H20.705L20.164 13Z"
								fill="#374957" />
							<path
								d="M7 24.0006C8.10456 24.0006 8.99999 23.1052 8.99999 22.0006C8.99999 20.896 8.10456 20.0006 7 20.0006C5.89543 20.0006 5 20.896 5 22.0006C5 23.1052 5.89543 24.0006 7 24.0006Z"
								fill="#374957" />
							<path
								d="M17 24.0006C18.1046 24.0006 19 23.1052 19 22.0006C19 20.896 18.1046 20.0006 17 20.0006C15.8954 20.0006 15 20.896 15 22.0006C15 23.1052 15.8954 24.0006 17 24.0006Z"
								fill="#374957" />
							<path
								d="M17.0778 8.5427H17.1108C17.3588 8.54352 17.6046 8.49505 17.8337 8.40012C18.0629 8.30519 18.2709 8.16568 18.4458 7.9897L23.7067 2.7287L22.2927 1.3147L17.1118 6.5007L14.8678 4.1607L13.4268 5.5467L15.7328 7.9467C15.9051 8.13172 16.1131 8.27992 16.3443 8.38236C16.5754 8.48479 16.8249 8.53933 17.0778 8.5427Z"
								fill="#374957" />
						</g>
						<defs>
							<clipPath id="clip0_259_1647">
								<rect width="24" height="24" fill="white" />
							</clipPath>
						</defs>
					</svg>
					<svg width="24" height="24" class="hidden" id="error" viewBox="0 0 24 24" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_259_1555)">
							<path
								d="M12 24C9.62663 24 7.30655 23.2962 5.33316 21.9776C3.35977 20.6591 1.8217 18.7849 0.913451 16.5922C0.00519943 14.3995 -0.232441 11.9867 0.230582 9.65892C0.693605 7.33115 1.83649 5.19295 3.51472 3.51472C5.19295 1.83649 7.33115 0.693605 9.65892 0.230582C11.9867 -0.232441 14.3995 0.00519943 16.5922 0.913451C18.7849 1.8217 20.6591 3.35977 21.9776 5.33316C23.2962 7.30655 24 9.62663 24 12C23.9966 15.1815 22.7312 18.2318 20.4815 20.4815C18.2318 22.7312 15.1815 23.9966 12 24ZM12 2.00001C10.0222 2.00001 8.08879 2.5865 6.4443 3.68531C4.79981 4.78412 3.51809 6.34591 2.76121 8.17317C2.00433 10.0004 1.8063 12.0111 2.19215 13.9509C2.578 15.8907 3.53041 17.6725 4.92894 19.0711C6.32746 20.4696 8.10929 21.422 10.0491 21.8079C11.9889 22.1937 13.9996 21.9957 15.8268 21.2388C17.6541 20.4819 19.2159 19.2002 20.3147 17.5557C21.4135 15.9112 22 13.9778 22 12C21.9971 9.34873 20.9426 6.80689 19.0679 4.93215C17.1931 3.05742 14.6513 2.00292 12 2.00001ZM17.666 16.254C16.0781 14.8975 14.0858 14.1049 12 14C9.91422 14.1049 7.92187 14.8975 6.33401 16.254L7.66401 17.748C8.88648 16.7187 10.4055 16.1064 12 16C13.5945 16.1064 15.1135 16.7187 16.336 17.748L17.666 16.254ZM6.00001 10V11H10V10C10 9.46957 9.78929 8.96087 9.41422 8.58579C9.03915 8.21072 8.53044 8.00001 8.00001 8.00001C7.46957 8.00001 6.96086 8.21072 6.58579 8.58579C6.21072 8.96087 6.00001 9.46957 6.00001 10ZM14 10V11H18V10C18 9.46957 17.7893 8.96087 17.4142 8.58579C17.0391 8.21072 16.5304 8.00001 16 8.00001C15.4696 8.00001 14.9609 8.21072 14.5858 8.58579C14.2107 8.96087 14 9.46957 14 10Z"
								fill="#374957" />
						</g>
						<defs>
							<clipPath id="clip0_259_1555">
								<rect width="24" height="24" fill="white" />
							</clipPath>
						</defs>
					</svg>


					<div id="toastMessage" class="pl-4 text-sm font-normal"></div>
				</div>
			</div></a>

			

		</main>

		<!-- data for updation -->
		<p class="hidden" id="pId">
			<%=product._id%>
		</p>
		<p class="hidden" id="isLogedIn">
			<% if(user){%>
				user Logged in
				<% } %>
		</p>
	</div>
	<script>
		// add to cart
		function addToCart() {
			let quantityDisplay = document.getElementById('amount')
			let quantity = document.getElementById('amount').innerText;
			let productId = document.getElementById('pId').innerText.trim()
			let isLogedIn = document.getElementById('isLogedIn').innerText.trim()
			if (quantity != '0') {
				let data = {
					productId: productId,
					quantity: quantity
				};
				if (isLogedIn == '') {
					window.location.href = '/login';
				}
				else {
					fetch('/addToCart', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify(data)
					})
						.then(response => {
							console.log(response);
							if (response.status == 204) {
								showToast("Product out of stock")
							} else if (response.ok) {
								quantityDisplay.innerText = 1;
								showToast("Item added to cart")
							}
							// Display the toast notification here

							return response.json();
						})

						.then(data => console.log(data))
						.catch((error) => {
							console.error('Error:', error);
						});
				}

			}
		}

	</script>

	<script>

		// for toast toggling
		function showToast(errorMessage) {

			// Get the toast, toastMessage, and progressBar elements
			const toast = document.getElementById('toast');
			const toastMessage = document.getElementById('toastMessage');
			const err = document.getElementById('error')
			const added = document.getElementById('added')
			if (errorMessage == "Product out of stock") {
				err.classList.toggle('hidden')
			} else {
				added.classList.toggle('hidden')


			}
			// Update the message and show the toast
			toastMessage.textContent = errorMessage;
			toast.classList.toggle('hidden')
			setTimeout(() => { toast.classList.toggle('hidden') }, 5000)


		}
	</script>

<!-- image zoom -->
	<script>
		const imageContainer = document.querySelector('.magnify-continer');
		const image = document.querySelector('.magnify-image');

		imageContainer.addEventListener('mousemove', (e) => {
			const mouseX = e.clientX - imageContainer.getBoundingClientRect().left;
			const mouseY = e.clientY - imageContainer.getBoundingClientRect().top;

			const offsetX = (mouseX / imageContainer.offsetWidth) * 100;
			const offsetY = (mouseY / imageContainer.offsetHeight) * 100;

			image.style.transformOrigin = `${offsetX}% ${offsetY}%`;
			image.style.transform = 'scale(2)'; // You can adjust the scale factor as needed
		});

		imageContainer.addEventListener('mouseleave', () => {
			image.style.transform = 'scale(1)';
		});

	</script>

	<script src="/script/productView.js"></script>
	<script>
		const toggleButton = document.getElementById('toggle-menu');
		const mobileMenu = document.getElementById('mobile-menu');

		toggleButton.addEventListener('click', () => {
			mobileMenu.classList.toggle('hidden');
		});
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
	<script src="https://kit.fontawesome.com/2129bb9b13.js" crossorigin="anonymous"></script>
	</body>

	</html>