<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap"
        rel="stylesheet">
    <!-- alphine js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <title>Dashboard</title>
</head>

<body>
    <!-- Main div -->
    <div class="flex flex-col h-screen  bg-gray-100">
        <!-- header -->
        <div class="bg-white h-20 text-white shadow w-full flex px-6 items-center justify-between">
            <div class="flex items-center">
                <div class="md:hidden flex items-center">
                    <button id="menuBtn">
                        <i class="fas fa-bars text-gray-500 text-lg"></i>
                    </button>
                </div>
                <div class="flex  items-center">
                    <img src="/images/offiq blacklogo.png" alt="Logo"
                        class="md:w-28 md:translate-x-0 translate-x-[100%] w-24 h-18 mr-2 ">
                </div>

            </div>
            <div class="space-x-5">
                <button>
                    <i class="fas fa-bell text-gray-500 text-lg"></i>
                </button>

                <button>
                    <i class="fas fa-user text-gray-500 text-lg"></i>
                </button>
            </div>
        </div>

        <!-- body div -->
        <div class="flex-1 flex ">

            <!-- navigation div -->
            <div class="p-2 bg-white absolute z-20 h-screen transition-all ease-linear duration-300 md:relative w-60 flex-col hidden md:flex"
                id="sideNav">
                <nav>
                    <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                        href="../admin">
                        <i class="fas fa-home mr-2"></i>Dashboard
                    </a>
                    <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                        href="../admin/userMangement">
                        <i class="fas fa-users mr-2"></i>User Management
                    </a>
                    <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                        href="../admin/categoryManagement">
                        <i class="fa-solid fa-boxes-stacked mr-2"></i>Category Management
                    </a>
                    <a class="block py-2.5 px-4 my-4 rounded transition duration-200 bg-gradient-to-r from-cyan-400 to-[#076AE1] text-white"
                        href="">

                        <i class="fas fa-store mr-2"></i>Product Management
                    </a>

                    <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                        href="#">
                        <i class="fas fa-exchange-alt mr-2"></i>Order Management
                    </a>
                    <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                        href="#">
                        <i class="fas fa-file-alt mr-2"></i>Report
                    </a>
                    <a class="block text-gray-500 py-2.5 px-4 my-2 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-600 hover:to-[#076AE1] hover:text-white mt-auto"
                        href="#">
                        <i class="fas fa-sign-out-alt mr-2"></i>Logout
                    </a>
                </nav>



            </div>

            <!-- content div -->
            <div class="flex justify-center  overflow-hidden">
                <div class="flex flex-col pt-10 ">
                    <!-- search -->
                    <div class="mx-auto max-w-md">
                        <form action="" class="relative mx-auto w-max">
                            <input type="search"
                                class="peer cursor-pointer relative z-10 h-12 w-full rounded-full border bg-transparent pl-12 outline-none  focus:cursor-text focus:border-gray-700  "
                                placeholder="Search the user" />
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="absolute inset-y-0 my-auto h-8 w-12 border-r border-transparent stroke-gray-500 px-3.5 peer-focus:gray-200 "
                                fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                            </svg>
                        </form>


                    </div>

                    <div class="overflow-x-hidden  lg:mx-0.5">
                        <!-- initialization of alphine values -->
                        <div x-data="{ editModel : false ,addModel:false,userid:'',block:'',status:''}"
                            class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                            <div class="h-auto overflow-auto flex justify-center">
                                <div class="w-[30%] sm:w-[80%] overflow-auto">
                                    <!-- category Table -->
                                    <table class="min-w-full  table-fixed  ">
                                        <thead class="bg-gray-200 border-b">
                                            <tr>
                                                <th scope="col"
                                                    class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                    Name
                                                </th>
                                                <th scope="col"
                                                    class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                    Description
                                                </th>
                                                <!-- <th scope="col"
                                                    class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                    Category
                                                </th> -->
                                                <th scope="col"
                                                    class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                    Price
                                                </th>
                                                <th scope="col"
                                                    class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                    Rating
                                                </th>
                                                <th scope="col"
                                                    class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                    Quantity
                                                </th>
                                                <th scope="col"
                                                    class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% products.forEach(product=> { %>
                                                <tr
                                                    class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                                                    
                                                    <td
                                                        class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                        <%= product.name %>
                                                    </td>
                                                    <td
                                                        class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                        <%= product.description %>
                                                    </td>
                                                    <td
                                                        class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                        <%= product.price %>
                                                    </td>
                                                    <td
                                                        class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                        <%= product.rating %>
                                                    </td>
                                                    <td
                                                        class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                        <%= product.quantity %>
                                                    </td>
                                                    <td
                                                        class="text-sm text-gray-900 font-light  text-center px-6 py-4 whitespace-nowrap">
                                                        <button>
                                                            <i @click="editModel = !editModel" class="fa fa-edit fa-lg"
                                                                style="color: green" aria-hidden="true"></i>
                                                        </button>
                                                        <button>
                                                            <i class="fas fa-thin fa-trash-can fa-lg"
                                                                style="color: #ff0000;"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <% }); %>
                                        </tbody>
                                    </table>

                                    <!-- Product edit modal-->
                                    <div x-show="editModel"
                                    class="fixed text-gray-500 flex items-center justify-center  overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 bottom-0"
                                    x-transition:enter="transition ease duration-300"
                                    x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
                                    x-transition:leave="transition ease duration-300"
                                    x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">
                                    <!-- Modal -->
                                    <div x-show="editModel" class="bg-white rounded-xl h-[80%] overflow-auto sm:w-3/6  w-96 shadow-2xl p-6 "
                                        @click.away="addModel = false"
                                        x-transition:enter="transition ease duration-100 transform"
                                        x-transition:enter-start="opacity-0 scale-90 translate-y-1"
                                        x-transition:enter-end="opacity-100 scale-100 translate-y-0"
                                        x-transition:leave="transition ease duration-100 transform"
                                        x-transition:leave-start="opacity-100 scale-100 translate-y-0"
                                        x-transition:leave-end="opacity-0 scale-90 translate-y-1">
                                        <!-- Title -->
                                        <span x-if="block == true" class="font-bold block text-2xl mb-3">
                                            ADD Product
                                        </span>
                                        <!-- Body -->
                                        <div>
                                            <form class="mt-3" action="../admin/addProduct" method="POST">
                                                <div>
                                                    <label
                                                        class="block md:text-xs float-left text-gray-700">Product
                                                        Name</label>
                                                    <input type="text" name="name" 
                                                        placeholder="Enter Product Name"
                                                        class="w-full px-4 py-3 rounded-lg placeholder:text-sm bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none"
                                                        autofocus="" autocomplete="" required="">
                                                </div>
                                                <div>
                                                    <label
                                                        class="block md:text-xs mt-4 float-left text-gray-700">Description</label>
                                                    <textarea name="description" id="description"
                                                        placeholder="description of the product"
                                                        class="w-full px-4 py-3 rounded-lg placeholder:text-sm bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none"
                                                        autofocus="" autocomplete="" required=""></textarea>
                                                </div>
                                                <div>
                                                    <label
                                                        class="block md:text-xs float-left text-gray-700">Price</label>
                                                    <input type="text" name="price" 
                                                        placeholder="product price"
                                                        class="w-full px-4 py-3 rounded-lg placeholder:text-sm bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none"
                                                        autofocus="" autocomplete="" required="">
                                                </div>
                                                <div>
                                                    <label
                                                        class="block md:text-xs float-left text-gray-700">Quantity</label>
                                                    <input type="text" name="quantity" 
                                                        placeholder="product rating"
                                                        class="w-full px-4 py-3 rounded-lg placeholder:text-sm bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none"
                                                        autofocus="" autocomplete="" required="">
                                                </div>
                                                <div>
                                                    <label
                                                        class="block md:text-xs float-left text-gray-700">Rating</label>
                                                    <input type="text" name="rating" 
                                                        placeholder="product rating"
                                                        class="w-full px-4 py-3 rounded-lg placeholder:text-sm bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none"
                                                        autofocus="" autocomplete="" required="">
                                                </div>
                                        

                                                <div>
                                                    <label class="block md:text-xs float-left text-gray-700">Category</label>
                                                    <select name="category" id="catagory" class="w-full px-4 py-3 rounded-lg placeholder:text-sm bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none">
                                                        <% category.forEach(category => { %>
                                                          <option value="<%=category._id%>"><%=category.name%></option>
                                                        <% }); %>
                                                      </select>

                                                </div>
                                                
                                                <!-- <div>
                                                    <label class="block md:text-xs  float-left text-gray-700">Image</label>
                                                    <input class="w-full rounded-lg  placeholder:text-sm text-sm px-4 py-3 bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none"
                                                        id="file_input" name="image" type="file" multiple>
                                                </div> -->
                                                <button type="submit"
                                                    class="w-full block bg-indigo-500 hover:bg-indigo-400 focus:bg-indigo-400 text-white font-semibold rounded-lg
                                                                                                                                    px-4 py-3 mt-5">SAVE</button>
                                            </form>


                                        </div>
                                    </div>
                                </div>


                                    <!--Add Product modal-->
                                    <div x-show="addModel"
                                        class="fixed text-gray-500 flex items-center justify-center  overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 bottom-0"
                                        x-transition:enter="transition ease duration-300"
                                        x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
                                        x-transition:leave="transition ease duration-300"
                                        x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">
                                        <!-- Modal -->
                                        <div x-show="addModel" class="bg-white rounded-xl h-[80%] overflow-auto sm:w-3/6  w-96 shadow-2xl p-6 "
                                            @click.away="addModel = false"
                                            x-transition:enter="transition ease duration-100 transform"
                                            x-transition:enter-start="opacity-0 scale-90 translate-y-1"
                                            x-transition:enter-end="opacity-100 scale-100 translate-y-0"
                                            x-transition:leave="transition ease duration-100 transform"
                                            x-transition:leave-start="opacity-100 scale-100 translate-y-0"
                                            x-transition:leave-end="opacity-0 scale-90 translate-y-1">
                                            <!-- Title -->
                                            <span x-if="block == true" class="font-bold block text-2xl mb-3">
                                                ADD Product
                                            </span>
                                            <!-- Body -->
                                            <div>
                                                <form class="mt-3" action="../admin/addProduct" method="POST">
                                                    <div>
                                                        <label
                                                            class="block md:text-xs float-left text-gray-700">Product
                                                            Name</label>
                                                        <input type="text" name="name" 
                                                            placeholder="Enter Product Name"
                                                            class="w-full px-4 py-3 rounded-lg placeholder:text-sm bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none"
                                                            autofocus="" autocomplete="" required="">
                                                    </div>
                                                    <div>
                                                        <label
                                                            class="block md:text-xs mt-4 float-left text-gray-700">Description</label>
                                                        <textarea name="description" id="description"
                                                            placeholder="description of the product"
                                                            class="w-full px-4 py-3 rounded-lg placeholder:text-sm bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none"
                                                            autofocus="" autocomplete="" required=""></textarea>
                                                    </div>
                                                    <div>
                                                        <label
                                                            class="block md:text-xs float-left text-gray-700">Price</label>
                                                        <input type="text" name="price" 
                                                            placeholder="product price"
                                                            class="w-full px-4 py-3 rounded-lg placeholder:text-sm bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none"
                                                            autofocus="" autocomplete="" required="">
                                                    </div>
                                                    <div>
                                                        <label
                                                            class="block md:text-xs float-left text-gray-700">Quantity</label>
                                                        <input type="text" name="quantity" 
                                                            placeholder="product rating"
                                                            class="w-full px-4 py-3 rounded-lg placeholder:text-sm bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none"
                                                            autofocus="" autocomplete="" required="">
                                                    </div>
                                                    <div>
                                                        <label
                                                            class="block md:text-xs float-left text-gray-700">Rating</label>
                                                        <input type="text" name="rating" 
                                                            placeholder="product rating"
                                                            class="w-full px-4 py-3 rounded-lg placeholder:text-sm bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none"
                                                            autofocus="" autocomplete="" required="">
                                                    </div>
                                            

                                                    <div>
                                                        <label class="block md:text-xs float-left text-gray-700">Category</label>
                                                        <select name="category" id="catagory" class="w-full px-4 py-3 rounded-lg placeholder:text-sm bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none">
                                                            <% category.forEach(category => { %>
                                                              <option value="<%=category._id%>"><%=category.name%></option>
                                                            <% }); %>
                                                          </select>

                                                    </div>
                                                    
                                                    <!-- <div>
                                                        <label class="block md:text-xs  float-left text-gray-700">Image</label>
                                                        <input class="w-full rounded-lg  placeholder:text-sm text-sm px-4 py-3 bg-gray-200 mt-1 border focus:border-blue-500 focus:bg-white focus:outline-none"
                                                            id="file_input" name="image" type="file" multiple>
                                                    </div> -->
                                                    <button type="submit"
                                                        class="w-full block bg-indigo-500 hover:bg-indigo-400 focus:bg-indigo-400 text-white font-semibold rounded-lg
                                                                                                                                        px-4 py-3 mt-5">SAVE</button>
                                                </form>


                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class=" mt-10 flex w-full justify-center">
                                <button @click="addModel = !addModel"
                                    class="middle none w-52 center mr-4 rounded-lg bg-[#076AE1] py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                    data-ripple-light="true">
                                    Add new Product
                                </button>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>


    <script>
        const menuBtn = document.getElementById('menuBtn');
        const sideNav = document.getElementById('sideNav');
        menuBtn.addEventListener('click', () => {
            sideNav.classList.toggle('hidden');
        });
    </script>
    <script src="https://kit.fontawesome.com/2129bb9b13.js" crossorigin="anonymous"></script>
</body>

</html>