<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap"
        rel="stylesheet">
    <script  src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

        <!-- alphine js CDN -->
    <title>Dashboard</title>
</head>

<body>
    <div class="flex flex-col h-screen  bg-gray-100">
        <div class="bg-white h-20 text-white shadow w-full flex px-6 items-center justify-between">
            <div class="flex items-center">
                <div class="md:hidden flex items-center">
                    <button id="menuBtn">
                        <i class="fas fa-bars text-gray-500 text-lg"></i>
                    </button>
                </div>
                <div class="flex  items-center">
                    <img src="/images/offiq blacklogo.png" alt="Logo"
                        class="md:w-28 md:translate-x-0 translate-x-[100%] w-24 h-18 mr-2 ">
                </div>

            </div>


            <div class="space-x-5">
                <button>
                    <i class="fas fa-bell text-gray-500 text-lg"></i>
                </button>

                <button>
                    <i class="fas fa-user text-gray-500 text-lg"></i>
                </button>
            </div>
        </div>
        <div class="flex-1 flex">

            <div class="p-2 bg-white absolute md:relative w-60 flex-col hidden md:flex" id="sideNav">
                <nav>
                    <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                        href="../admin">
                        <i class="fas fa-home mr-2"></i>Dashboard
                    </a>

                    <a class="block py-2.5 px-4 my-4 rounded transition duration-200 bg-gradient-to-r from-cyan-400 to-[#076AE1] text-white"
                        href="#">
                        <i class="fas fa-users mr-2"></i>User Management
                    </a>
                    <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                        href="../admin/categoryManagement">
                        <i class="fa-solid fa-boxes-stacked mr-2"></i>Category Management
                    </a>
                    <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                        href="../admin/productManagement">
                        <i class="fas fa-store mr-2"></i>Product Management
                    </a>

                    <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                        href="#">
                        <i class="fas fa-exchange-alt mr-2"></i>Order Management
                    </a>
                    <a class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-400 hover:to-[#076AE1] hover:text-white"
                        href="#">
                        <i class="fas fa-file-alt mr-2"></i>Report
                    </a>
                </nav>


                <a class="block text-gray-500 py-2.5 px-4 my-2 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-600 hover:to-[#076AE1] hover:text-white mt-auto"
                    href="#">
                    <i class="fas fa-sign-out-alt mr-2"></i>Logout
                </a>

            </div>


            


            <div class="flex flex-col">
                <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
                    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="w-screen sm:w-full h-auto overflow-auto">
                        <div x-data="{ showModal : false ,userid:'',block:'',status:''}">
                            <table class="min-w-full  table-fixed">
                                <thead class="bg-gray-200 border-b">
                                    <tr>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            User ID
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Full name
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Email
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Contact
                                        </th>
                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% userData.forEach(user=> { %>

                                        <tr
                                            class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                <%= user._id %>
                                            </td>
                                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                <%= user.fullname %>
                                            </td>
                                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                <%= user.email %>
                                            </td>
                                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                <%= user.phone %>
                                            </td>
                                            <td
                                                class="text-sm text-gray-900 font-light  text-center px-6 py-4 whitespace-nowrap">
                                                <button @click="showModal = !showModal,userid='<%= user._id %>',block='<%=user.blocked%>' ,status='<%= user.blocked?'UNBLOCK':'BLOCK' %>'"  class="show-block-button">
                                                    <% if (user.blocked) { %>
                                                        <i  class="fas fa-regular fa-lock fa-xl"></i>
                                                        <% } else { %>
                                                            <i  class="fa-solid fa-unlock fa-xl"></i>
                                                            <% } %>
                                                </button>
                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>
                            
                                <!-- Modal Background -->
                                <div x-show="showModal" class="fixed text-gray-500 flex items-center justify-center overflow-auto z-50 bg-black bg-opacity-40 left-0 right-0 top-0 bottom-0" x-transition:enter="transition ease duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease duration-300" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">
                                    <!-- Modal -->
                                    <div x-show="showModal" class="bg-white rounded-xl shadow-2xl p-6 sm:w-10/12 mx-10" @click.away="showModal = false" x-transition:enter="transition ease duration-100 transform" x-transition:enter-start="opacity-0 scale-90 translate-y-1" x-transition:enter-end="opacity-100 scale-100 translate-y-0" x-transition:leave="transition ease duration-100 transform" x-transition:leave-start="opacity-100 scale-100 translate-y-0" x-transition:leave-end="opacity-0 scale-90 translate-y-1">
                                        <!-- Title -->
                                        <span x-if="block == true" class="font-bold block text-2xl mb-3">
                                            DO YOU Really want to <span x-text="status">  </span> this user
                                          </span>
                                        <!-- Buttons -->
                                        <div class="text-right space-x-5 mt-5">
                                            <button :data-user-id="userid" :data-user-block="block" class="toggle-block-button px-4 py-2 text-sm bg-white rounded-xl border transition-colors duration-150 ease-linear border-gray-200 text-gray-500 focus:outline-none focus:ring-0 font-bold hover:bg-red-700 hover:text-white focus:bg-indigo-50 focus:text-indigo">YES</button>
                                            <button @click="showModal = !showModal" class=" px-4 py-2 text-sm bg-white rounded-xl border transition-colors duration-150 ease-linear border-gray-200 text-gray-500 focus:outline-none focus:ring-0 font-bold hover:bg-green-500 hover:text-white focus:bg-indigo-50 focus:text-indigo">NO</button>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <script>
        // Add an event listener to the button(s)
        document.querySelectorAll('.toggle-block-button').forEach(function (button) {
            button.addEventListener('click', function () {
                const userId = button.getAttribute('data-user-id');
                const isBlocked=button.getAttribute('data-user-block')
                console.log(userId);
                 // Toggle the current status

                // Send an AJAX request to update the "blocked" status
                fetch(`../admin/update-block-status/${userId}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ blocked: isBlocked }),
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // if (data.isBlocked) {
                            //     button.innerHTML = '<i class="fas fa-regular fa-lock fa-xl"></i>';
                            // } else {
                            //     button.innerHTML = '<i class="fa-solid fa-unlock fa-xl"></i>';
                            // }
                            location.reload();
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        });
    </script>
    <script>
        const menuBtn = document.getElementById('menuBtn');
        const sideNav = document.getElementById('sideNav');
        menuBtn.addEventListener('click', () => {
            sideNav.classList.toggle('hidden');
        });
    </script>
    <script src="https://kit.fontawesome.com/2129bb9b13.js" crossorigin="anonymous"></script>
</body>

</html>